.musicButton {
    color: #268c99;
    width: 7vh;
    height: 7vh;
    position: absolute;
    top: 11vh;
    margin-left: 59vh;
    border-radius: 50%;
    border: aliceblue;
    background-color: #eaeaea;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.musicMute {
    color: #c4b4b4;
    background:#d4d4d4;
}